@keyframes muncul{
  	0%{opacity: 0;}
  	100%{opacity: 1;}
	}
body{
	overflow: hidden;
	animation-name: muncul;
	animation-duration: 2s;
	}
.both{clear: both;}
.loginpage{
	position: fixed;
	background:url("../assets/img/wp.jpg");
	height: 100%;
	width: 100%;
	background-size: 100%;
	}
.padding{padding:20px 25px;}
.login{
	margin-top: 8%; 
	width: 400px;
	background:#fff;
	height: 100%; 
	border-radius: 10px;
	}
.login input,.login select,.login button{
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;
	border: 0px;
	padding: 10px;
	border-bottom: 1px solid #e4e7ea;
	outline: 0;
	color: #565656;
	font-size: 14px;
	}
.login input:focus,.login select:focus{
	border-bottom: 3px solid #707cd2;
	transition: 0.2s
	}
.login select{cursor: pointer;}
.login button{
	cursor: pointer;
	background: #41b3f9;
	color: #fff;
	font-size: 20px;
	border-radius: 3px; 
	transition: 600ms all;
	}
.login button:hover{
	background: #5bc0de; 
	border-radius: 50px; 
	transform: scale(0.95);
	}
form{margin-top: 70px;}
h3{text-align: center;}
#status{
	width: 100%;
	color: #565656;
	font-size: 15px;
	display: none;
	box-sizing: border-box;
	border-radius: 3px;
	}
.red{
	color: #c7254e;
	background: #f9f2f4;
	padding: 10px;
	border-radius: 3px;
	}
.green{
	color: rgb(1,186,56);
	background: rgb(230,255,230);
	padding: 10px;
	border-radius: 3px;
	}
.link-forgot{
	color: #565656;
	padding: 0px 0px 20px 0px;
	display: inline-block;
	}